################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Dorm-management-system-master/Dorm managment system/Form1.resx
/Dorm-management-system-master/Dorm managment system/Properties/Settings.Designer.cs
*.settings
